/*********************************************
		Link Styles
*********************************************/
a {
	color: #4D1D59;
	text-decoration: none;
}
a:hover { color: #4D1D59; text-decoration: underline; }

/*********************************************
		Header Styles
*********************************************/
#header {
	border-bottom: 5px solid #7F5BA5;
	background: #4D1D59;
}
h1 { /* This style used as the post titles on homepage/archive */
	border-bottom: 3px solid #4D1D59;
}
h2 { /* This style used as header in the sidebars */
	border-top: 3px solid #4D1D59;
}
h3 { /* This style used as the post titles on homepage/archive */
	border-bottom: 3px solid #4D1D59;
}
/*********************************************
		Post Meta Styles
*********************************************/
.meta li {
	border-bottom: 1px solid #7F5BA5;
}
.meta li.meta-author {
	border-bottom: 3px solid #4D1D59;
}

/*********************************************
		Comment Styles
*********************************************/
#comments .even, #comments .odd {
	border-top: 3px solid #4D1D59;
}
#comments .odd { /* use this if you want to style odd comments */
}
.commentmeta li {
	border-bottom: 1px solid #7F5BA5;
}
.commentmeta li.meta-author {
	border-top: 3px solid #4D1D59;
}

/*********************************************
		Footer Styles
*********************************************/
#footer {
	border-top: 5px solid #7F5BA5;
	background: #4D1D59;
}