.widget_box {
float:none;
}
.usual ul{
margin:0;
}
.usual ul li{
width:60px;
padding:6px 0 0 0;
margin:0 2px 0 0;
}
.usual ul li a{
display: inherit;
}
.usual .widget_box div ul li a, .usual .widget_box div ul li a.selected {
width:296px;
margin:0;
}