/* ALL TAB STYLES */

.tabs-block {
	clear: left;
	float: left;
	width: 605px;
	padding: 0;
	margin: 0 0 10px 0;
	display: block;
	margin-top:25px;
	}
	
.tabbed {
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background: transparent;
	border: none;
	}
	
.tabbed ul.tabs {
	overflow: hidden;
	display: block;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background: transparent;
	}
	
.tabbed ul.tabs li {
	display: inline;
	float: left;
	padding: 0;
	margin: 0 .3em 0 0;
	}
	
.tabbed ul.tabs li a {
	font-weight: bold;
	display: block;
	margin: 0;
	padding: 5px .8em;
	background: #E6E3D3;
    color:#333;
	border: 1px solid #ccc;
	}
	
.tabs-block ul.tabs li a { padding: 5px .7em; }

.tabbed ul.tabs li a:hover {
	background: #333;
    color:#fff;
	text-decoration: none;
	}

.tabbed ul.tabs li a.tab-current {
	background: #fff;
    color:#333;
	border-bottom: 1px solid #fff;
	}
	
.tabs-block .tabbed div, #home .tabbed .c {
	overflow: hidden;
	display: block;
	position: relative;
	left: 0;
	top: -1px;
	z-index: 0;
	clear: left;
	width: 100%;
	margin: 0;
	padding: 5px 0;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 2px solid #999;
	border-bottom: 2px solid #999;
	background: url(../images/backgrounds/bg_leadarticle.jpg) repeat-x #E6E3D3;
	display: none;
	}

.tabs-block .tabbed div:hover { background: url(../images/backgrounds/bg_leadarticle.jpg) repeat-x #E6E3D3; }

div.t2, div.t3, div.t4, div.t5, div.c2, div.c3, div.c4, div.c5, div.c6, div.c7, div.c8, div.c9, div.c10  { display: none; }

.tabs-block .tabbed div.t1, #home .tabbed div.c1 { display: block;	}
	
.tabs-block .tabbed div { width: 600px; }

.tabbed div ul {
	overflow: hidden;
	padding:10px;
	background: transparent;
	}
	
.tabbed div ul li {
	clear: left;
	background: transparent;
	}
	
.tabbed div ul li a {
	font-weight: normal;
	width: 97%;
	display: block;
	padding: 2px 0 2px 12px;
	background: transparent;
	border: none;
	}
	
.tabbed div ul li a:hover { text-decoration: underline; }
