/* Begin Widgets */

#column2 ul ul, #column3 ul ul {background: transparent; padding: 0; margin: 0;}
#linkcat-1 {list-style: none;}
#column2 #linkcat-1 h2 {margin: 0; padding: 0.5em; color: #666; background: url('images/portlet_header.png')}
#column2 #linkcat-1 h2 {margin-left: 40px;}
#column3 #linkcat-1 h2 {margin-right: 38px;}
#column2 ul #searchform, #column3 ul #searchform {background: url('images/portlet_header.png'); padding-top: 20px;}
#column2 #searchform input, #column3 #searchform input {cursor: pointer; padding: 2px; border: 1px solid #aaa; margin: 0;}

/* End Widgets */