@import url("../ext/resources/css/xtheme-galdaka.css"); 
/* LOADING */
#loading-mask {
background:#F6F1F3;
}
#loading{
border:1px solid #6B2C2D;
background:#F6F1F3;
}
#loading .loading-indicator{
border:1px solid #F6F1F3;
background:#ffffff;
color:#6B2C2D;
}
/* A */
a {
color:#4C535C;
}
a:link { 
color : #4C535C;
}
a:active { 
color : #4C535C;
}
a:visited { 
color : #4C535C;
}
a:hover	{
color:#4C535C;
} 
/* PAGE */
.page .page-title {
color:#593E3F;
}
/* POST */
.post-head .post-title a {
color:#593E3F;
}
/* HEADER */
#header a:hover {
color:#6B2C2D;
}
#header a {
color:#3B3B42;
}
/* AERO */
.x-date-middle .x-btn-with-menu  .x-btn-center em {
background:transparent no-repeat right 0;
}
.x-layout-panel-north{
background:#F6F1F3 ;
border:1px solid #F6F1F3; 
}
.x-layout-panel-south{
background:#F6F1F3 none repeat scroll 0%;
border:1px solid #F6F1F3;
}
.x-dock-panel-title {
height:26px;
}
.x-dock-panel-title-text {
font-weight:normal;
padding:6px;
}
.x-dock-panel .x-dock-panel-body-docked {
border-bottom:1px solid #EFEFE3;
}
.x-dock-panel-tools {
padding:3px;
}
.x-dock-panel-tools .x-layout-tools-button .x-layout-collapse-east {
background-image: url(../images/gray/acc_expand.gif);
}
.x-dock-panel-tools .x-layout-tools-button .x-layout-collapse-south {
background-image: url(../images/gray/acc_collapse.gif);
}
.x-dock-panel .x-dock-panel-title-over {
background-position:0 -9px;
}
.x-dock-body, .x-dlg-bd .x-dock-body {
background:#F6F1F3 none repeat scroll 0%;
}
.x-dock-panel .x-dock-panel-body {
font: normal 11px tahoma,verdana,helvetica;
}
.text-content {
padding:10px;
}
