body {
	font-family:Arial, Helvetica, sans-serif;
	background:#FFF url(images/header.png) top center repeat-x;
	margin:0px 0px 0px 0px;
	width:auto;
	}

a {
	color:#2296F3;
	text-decoration:none;	
	}

a:hover {
	color:#000;	
	}

img { padding: 0px; margin: 0px; border: none; }

/* --- STRUCTURE CLASSES --- */	

.container {
	width:875px;
	padding-left:15px;
	margin:0px auto !important;
	margin:20px auto;	
	}

.left-structure {
	float:left;
	width:425px;
	}

.right-structure {
	float:right;
	width:405px;
	padding-top:290px;
	padding-right:10px;
	}	


/* --- HEADER --- */

#header {
	width:1000px;
	height:140px;
	margin:0 auto;
	}

#header-left {
	float:left;
	height:140px;
	width:540px;
	}

#logo {
	position:relative;
	top:48px;	
	left:80px;
	}

#menu {
	position:relative !important;
	position:absolute;
	top:74px !important;
	top:114px;	
	left:80px;
	}

#menu ul {
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;	
	}

#menu ul li {
	list-style:none;
	margin:0px 3px 0px 0px;
	padding:0px 0px 0px 0px;
	display:inline;
	}

.page_item { 
	font-weight:bold;
	font-size:13px;
	text-transform:lowercase; 
	text-align:center;
	float:left;
	}

.page_item a { 
	color:#FFF;
	padding:7px 10px 7px 10px;
	float:left;
	text-align:center;
	background:#233545;	
	}

.page_item a:hover {
	color:#233545;
	background:#FFF;
	}

.current_page_item { 
	font-weight:bold;
	font-size:13px;
	text-transform:lowercase; 
	text-align:center;
	float:left;
	}

.current_page_item a { 
	color:#233545;
	padding:7px 10px 7px 10px;
	float:left;
	text-align:center;
	background:#FFF;	
	}

.current_page_item a:hover {
	color:#233545;
	text-decoration:underline;
	}


#header-right {
	float:left;
	height:140px;
	width:430px;
	}

#slogan {
	float:right;
	color:#FFF;
	font-size:12px;
	text-transform:lowercase;
	padding:5px 34px 0px 0px;
	}

#feed {
	float:right;
	padding:62px 78px 0px 0px !important;
	padding:44px 78px 0px 0px;	
	}

/* --- MAIN --- */

/* --- POSTS --- */

#feat-title {
	float:left;
	margin:0px 0px 15px 0px;
	padding:15px 0px 0px 0px !important;
	padding:0px 0px 0px 0px;	
	}

#featured {
	width:125px;
	height:121px;
	float:left;
	background:url(images/featured.png) top left no-repeat;
	}

#title-text {
	width:300px;
	float:left;
	padding-top:15px;
	}

#title-text-alt {
	width:100%;
	float:left;
	padding-top:20px !important;
	padding-top:5px;
	margin-bottom:15px;
	}

.title {
	font-size:20px;
	font-weight:bold;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;	
	}

.meta {
	color:#233545;
	font-size:12px;
	font-weight:bold;
	margin-top:7px;
	}

.meta p {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;	
	line-height:16px;
	}

.meta a {
	color:#233545;
	text-decoration:none;
	}

.meta a:hover {
	color:#2296F3;
	}

.entry p {
	margin:0px 0px 13px 0px;
	padding:0px 0px 0px 0px;	
	line-height:16px;
	font-size:13px;
	color:#000;
	text-align:justify;
	}

.entry blockquote { 
	padding: 3px 15px;
	background: #EAF5FF;
	margin: 5px auto 15px auto;
	color:#000;
	border: solid 1px #0B90FF;
	width:85%;
	}
	
.entry blockquote p {
	font-size: 13px;
	padding: 5px 0px;
	margin: 5px 0px;
	line-height: 15px;
	}

.entry img { 
	padding: 2px 2px 2px 2px;
	background:#f0f0f0;
	border: solid 1px #DEDEDE; 
	margin: 0px 15px 15px 0px;
	}

.none-img { 	
	background:none !important;
	border:none !important; 
	}

.none-img img { 	
	background:none !important;
	border:none !important; 
	}

.entry ul {
	font-size:13px;
	}

.entry ul li {
	margin-left:15px;
	padding-left:15px;
	margin-bottom:10px;
	}

.entry ol {
	font-size:13px;
	}

.entry ol li {
	margin-left:15px;
	padding-left:15px;
	margin-bottom:10px;
	}

.older-entries {
	width:100%;
	float:left;
	clear:both;
	margin-top:20px;
	}

#older-title {
	width:100%;
	height:35px;
	float:left;
	background:url(images/older-entries.png) top left no-repeat;
	margin-bottom:10px;
	}

.older-line {
	color:#000;
	line-height:19px;
	width:100%;
	float:left;	
	padding-bottom:2px;	
	border-bottom:1px dotted #000;
	font-size:12px;
	font-weight:bold;
	}

.one {
	width:275px;
	padding-top:2px;
	float:left;
	display:inline;
	}

.two {
	width:90px;
	height:19px;
	float:left;	
	display:inline;
	text-align:right;
	}

.three {
	width:55px;
	height:19px;
	float:left;	
	display:inline;
	text-align:right;
	}

.three a {
	color:#000;
	}

.three a:hover {
	color:#2296F3;	
	}

.older-more {
	font-size:14px;
	font-weight:bold;
	float:left;
	margin-top:5px;
	}

/* --- ARCHIVES --- */

.extract {
	font-size:10px;
	font-weight:normal;
	float:left;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	text-align:justify;
	}

/* --- COMMENTS --- */

.comments_template{
	margin: 0 0 0 10px;
	padding: 0 0 10px 0;
}

.comments_template p.nocomments, .comments_template p.alert{
	padding: 10px;
	font-size: 12px;
}

#comments {
	font-size: 20px;
	padding: 2px 10px 0px 0px;
	color:#008DE7;
}

.comments_template form#commentform{
	margin: 0;
	padding: 10px;
	background: #f7f7f7 url(images/bg_dotted_b.gif) repeat-x;
}

.comments_template form#commentform p{
	line-height: 16px;
}

ol.commentlist{
	margin: 10px 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	line-height: 16px;
}

ol.commentlist cite{
	font-style: normal;
	font-weight: bold;
}

ol.commentlist li{
	padding: 10px;
	border-top:1px dotted #0758C4;
}

ol.commentlist li.alt{
	background:#E9F0F6;
	border-top:1px dotted #0758C4;	
}

ol.commentlist li.highlighted{
	background:#E9F0F6;
	border-top:1px dotted #0758C4;	
}

.comment-number{ /* for Paged Comments plugin */
	float: right;
	font-family: Georgia, Arial, Verdana, Sans-serif;
	font-size: 18px;
	font-style: italic;
	color: #aaa;
}

/* --- SIDEBAR --- */

#latest-design {
	width:345px;
	height:155px;
	padding:55px 30px 15px 30px;
	float:left;
	background:url(images/latest-design.png) top left no-repeat;
	}

.preview-design {
	height:155px;
	width:155px;
	float:left;
	margin:0px 20px 0px 0px;
	padding:0px 0px 0px 0px;
	}

.text-design {
	height:140px;
	width:170px;
	float:left;
	font-size:12px;
	}

.text-design p {
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px;
	}

.text-design ul {
	list-style:none;
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 0px;	
	}

.text-design ul li {
	list-style:none;
	margin:3px 0px 3px 0px;
	padding:0px 0px 0px 25px;
	background:url(images/bullet.gif) top left no-repeat;
	}

.preview-none {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	height:155px;
	}

.preview-none p {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	height:155px;	
	}

#search {
	float:right;
	width:375px;
	margin:15px 15px 15px 0px !important;
	margin:15px 5px 15px 0px;	
	}

.searcharea {
	border: solid 1px #0B90FF;
	font-size:20px;
	font-weight:bold;
	letter-spacing:-1px;
	color:#000;
	width:250px;
	padding-left:5px;
	}

#recent-readers-title {
	width:390px;
	height:35px;
	float:right;
	background:url(images/recent-readers.png) top left no-repeat;
	margin-top:10px;
	}

#mybloglog {
	width:390px;
	float:right;
	}

table#MBL_COMM td.mbl_fo_hidden {
display:none;
}

/* --- SIDEBAR LISTS --- */

#sidebar2 li {
	list-style:none !important;
	list-style:outside;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;	
	}

#sidebar2 ul {
	list-style:none;
	margin:0px 0px 15px 0px;
	padding:0px 0px 0px 0px;	
	}

#sidebar2 ul li {
	list-style:none;
	margin:5px 0px 5px 10px;
	padding:0px 0px 5px 25px;
	border-bottom:1px dashed #0066B8;
	background:url(images/tag.gif) top left no-repeat;
	}

/* --- NAVIGATION --- */

.navigation a {
	font-size:16px;
	font-weight:bold;
	letter-spacing:-0.03em;
	}

.navigation a:hover {
	color:#44A6D9;
	}

.alignright {
	float:right;
	display:inline;
	}

.alignleft {
	float:left;
	display:inline;
	}

/* --- FOOTER --- */

#footer-top {
	width:100%;
	height:28px;
	background:url(images/footer-top.png) top left repeat-x;
	float:left;
	}

#footer {
	width:100%;
	padding:15px 0px 15px 0px;	
	float:left;
	background:#6D9BC1 url(images/footer-bottom.png) bottom left repeat-x !important;
	background:#6292BA url(images/footer-bottom.png) bottom left repeat-x;
	}

#footer ul {
	list-style:none;
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 0px;	
	}

#footer ul li {
	list-style:none;
	margin:3px 0px 3px 0px;
	padding:0px 0px 0px 25px;
	background:url(images/bullet.gif) center left no-repeat;
	font-size:12px;
	color:#000;
	font-weight:bold;
	}

#inner-footer {
	width:875px;
	padding-bottom:20px;
	margin:0 auto;
	}

.footer-title {
	width:100%;
	height:30px;
	float:left;
	margin-bottom:6px;
	clear:both;
	}

#recent-comments {
	background:url(images/recent-comments.png) top left no-repeat;
	}

#most-commented {
	background:url(images/most-commented.png) top left no-repeat;
	}

#myflickr-photos {
	background:url(images/myflickr.png) top left no-repeat;
	}

#recent-posts {
	background:url(images/recent-posts.png) top left no-repeat;
	}

#adii-archive {
	background:url(images/adii-archive.png) top left no-repeat;
	}

#left-footer {
	width:300px;
	float:left;
	margin-right:35px;
	}

#copyright-img {
	width:265px;
	height:42px;
	float:left;
	margin:10px 0px 5px 0px;
	background:url(images/copyright.png) top left no-repeat;
	}

#copyright-text {
	width:265px;
	height:70px;
	padding:0px 0px 0px 0px;
	float:left;
	text-align:right;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	}

#copyright-text a {
	color:#FFF;
	}

#copyright-text a:hover {
	color:#000;
	}

#right-footer {
	width:540px;
	float:left;
	}

.small-right-footer {
	width:255px;
	float:left;
	display:inline;
	}
	

#flickr {
	width:535px;;
	float:left;
	margin-bottom:15px;
	padding-left:5px;
	}

#flickr p {
	display:inline;
	padding:0px 3px 0px 3px;
	}

#footer ul li a {
	color:#FFF;
	font-weight:normal;
	}

#footer ul li a:hover {
	color:#000;
	}

/* --- FOOTER LISTS --- */


